.sideBar {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 220px;
    padding-top: 80px;
    z-index: 10000;
    border-right: 1px solid #dde1e7;
    min-height: 100vh;
    background: #fff;
    .headerLogo {
        position: fixed;
        top: 0;
        padding: 20px;
        width: 100px;
        height: 100px;
    }
    .sideBarElement {
        text-decoration: none;
        color: #4d4d4d;
        font-size: 14px;
        line-height: 23px;
        font-weight: bold;
        > div {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            > img {
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
        } 
    }
}