.header {
    display: flex;
    border-bottom: 1px solid #dde1e7;
    width: 100%;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar {
    position: fixed;
    right: 5px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 350px) {

}
