@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
.modal {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
.headerModal {
    >img {
        margin-left: 93%;
        margin-top: 2%;
        width: 3%;
        cursor: pointer;
    }
}
.signInWsGoogle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 240px;
    margin: 0 auto;
}
.modalLeft {
    width: 25%;
    min-height: 900px;
    background: #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imgIntegrations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >img {
            max-width: 100%;

            &:first-child {
                position: relative;
                z-index: 100000;
                top: -66px;
            }

            &:nth-child(2) {
                margin-top: -187px;
            }
        }
    }
}

.errorBlock {
    >img {
        width: 18px;
        position: absolute;
        left: -30px;
        top: 57px;
        opacity: 0;
        transition: all .35s ease-in-out;
    }
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 52px;
    >div {
        >span {
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            font-weight: bold;
            color: #394249;
            margin-left: 8px;
        }
    }
}

.hidePsw {
    top: 65px;
    right: 15px;
    position: absolute;
    cursor: pointer;
    filter: invert(50%);

    &:hover {
        filter: invert(100%);
    }
}
.haveAccount {
    font-size: 16px;
    color: #1991eb;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid #1991eb;
    }
}
.modalRight {
    min-height: 900px;
    width: 75%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(../../style/img/back.jpg);
    background-color: rgba(255,255,255,0.93);
    background-blend-mode: lighten;
    >div {
       &:last-child {
        padding-top: 50px;
       }
        >h4 {
            margin-top: 30px;
            font-weight: bold;
            font-size: 36px;
            font-family: 'Open Sans', sans-serif;
            color: #000000;
            margin-bottom: 24px;
        }

        >div {
            .form {
                display: flex;
                flex-direction: column;
                align-items: center;

                .formGroup {
                    display: flex;
                    flex-direction: column;
                    position: relative;

                    >input {
                        border-radius: 4px;
                        border: 1px solid #b1b9c4;
                        outline: none;
                        width: 100%;
                        padding-left: 20px;
                        padding-right: 60px;
                        text-align: left;
                        height: 48px;
                        font-size: 16px;
                        font-family: 'Open Sans', sans-serif;
                        color: #b1b9c4;
                        &:focus {
                            border: 1px solid #1991eb !important;
                            color: #000000;
                        }
                        &:hover {
                            border: 1px solid #8a9399;
                        }
                    }

                    >span {
                        width: 456px;
                        text-align: left;
                        font-size: 14px;
                        font-weight: bold;
                        color: #323538;
                        font-family: 'Open Sans', sans-serif;

                        &:nth-child(1) {
                            margin-top: 24px;
                            margin-bottom: 4px;
                        }
                    }
                }

                >button {
                    margin-top: 32px;
                    margin-bottom: 52px;
                    height: 64px;
                    width: 444px;
                }
            }
        }
    }
}
.popover {
    width: 220px;
    background: #fff;
    padding: 10px;
    border: 1px solid #8a9399;
}
.text {
    text-align: center;
    position: absolute;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: -11px;
    margin-left: -88px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #48555e;
    color: #394249;
    background: #fff;
}

.line {
    >div {
        width: 552px;
        height: 1px;
        background: #dededf;
    }
}
.tip {
    position: relative;
    margin-left: 50px;
   > div {
    height: 40px;
    width: 252px;
    background-color: #ff5e7a;
    border-radius: 4px;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   > img {
       position: absolute;
       left: 120px;
   }
}
.errorBlock {
   display: flex;
   align-items: flex-start;
}
.errors {
    font-size: 12px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    display: none;
}
.li {
    &:first-child {
        margin-top: 10px;
    }
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    >img {
        width: 10%;
        margin-right: 10px;
    }
}
.closeModal {
    width: 52px;
    right: 88px;
    position: absolute;
    justify-content: center;
    height: 52px;
    flex-direction: column;
    display: flex;
    cursor: pointer;
    bottom: 90%;
    border-radius: 50%;
    background: rgba(160, 171, 186, 0.822);
    transition: all 0.4s ease-in-out;
    &:hover {
     background: #1991eb;
    }
    > img {
        filter: contrast(400%);
    }
    >span {
        font-size: 8px;
        color: #fff;
        font-weight: bold;
    }
}

.trackers {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    justify-content: center;

    >div {
        cursor: pointer;
        width: 70px;
        margin-right: 12px;
        justify-content: center;
        height: 48px;
        display: flex;
        border: 1px solid #e3e4e6;
        border-radius: 4px;
        background-color: #ffffff;
        align-items: center;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background: #f1f2f3;
        }

        >a, >a:hover, >a:visited{
            text-decoration: none;
            color: #6b7c93;
            >span {
                margin-left: 11px;
            }
        }
    }
}

.checkbox {
    margin-top: 16px;

    label {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;

        >div {
            margin-left: 16px;
            margin-top: 4px;

            >span, a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 500;
                color: #1991eb;
                font-family: 'Open Sans', sans-serif;

                &:hover {
                    border-bottom: 1px solid #1991eb;
                }
            }
        }
    }

    label:before,
    label:after {
        position: absolute;
        top: 0;
        left: -10px;
        font-size: 21px;
        font-family: FontAwesome;

    }

    label:before {
        content: '\f096';
    }

    label:after {
        max-width: 0;
        overflow: hidden;
        content: '\f046';
        opacity: .5;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        color: #1991eb;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked+label:after {
        max-width: 25px;
        opacity: 1;
    }
}

@media screen and (max-width: 1500px) {
    .imgIntegrations {
        >img {
            &:first-child {
                top: -110px !important;
            }
        }
    }
    .list {
        >div {
            >span {
                font-size: 10px;
            }
        }
    }
  } 

  @media screen and (max-width: 1060px) {

    .list {
        >div {
            >span {
                font-size: 8px;
            }
        }
    }
  } 

@media screen and (max-width: 980px) {
    .modalLeft {
        display: none;
    }

    .modalRight {
        width: 100%;
        height: 700px;
        > div:last-child {
            padding-top: 0;
        }
    }
}
@media screen and (max-width: 600px) {

    .modalRight {
        width: 100%;
        > .form {
            width: 90%;
            margin: 0 auto;
        }
    }
    .formGroup {
        width: 100%;
        margin: 0 auto;
        > span {
            width: 80% !important;
            margin: 0 auto;
        }
        > input {
            width: 74% !important;
            margin: 0 auto;
        }
    }
    .line {
        > div {
            width: 90%;
            margin: 0 auto;
        }
    }
    .hidePsw {
        right: 13%;
    }
    .trackers {
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px auto;
        width: 80%;
        > div {
            margin-bottom: 10px;
        }
    }
    .form {
        > button {
            height: 58px !important;
            width: 308px !important;
        }
    }
    label:before,
    label:after {
        top: -2px !important;
        left: 24px !important;
    }
    .closeModal {
        right: 32px;
    }
    .checkbox {
        > label {
            > div {
                width: 70%;
                margin: 0 auto;
            }
        }
    }
}
@media screen and (max-width: 460px) { 
    .closeModal {
        right: 18px;
        top: 14px;
        z-index: 8888;
    }
    .modalRight {
        > div:last-child {
            margin-top: -118px;
            padding-top: 0;
        }
        > div {
            > h4 {
                font-size: 30px;
            }
        }
    }
}
@media screen and (max-width: 372px) {

    .closeModal {
        display: none;
    }
    .modalRight {
        padding-top: 90px;
    }
}

@media screen and (max-width: 342px) {

    .form {
        > button {
            width: 260px !important;
    }
  }
  .trackers {
      > div {
        width: 110px;
      }
  }
}