.header {
    display: flex;
}
.headerLeft {
    width: 30%;
    display: flex;
    align-items: center;
    > a {
        width: 246px;
        height: 74px;
        display: flex;
        justify-content: center;
        transition: all 0.4s;
        z-index: 8888;
        &:hover {
            opacity: .7;
            transform: scale(0.9);
        }
        &:active {
            opacity: .7;
            transform: scale(1);
        }
    }
}

.buttonSignIn {
    width: 120px;
    margin-right: 12px;
    margin-left: 50px;
    height: 45px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    color: rgb(160, 171, 186) !important;
    border: 2px solid rgb(160, 171, 186) !important;
    background-color: #fff;
    &:hover {
        color: rgb(127, 143, 164) !important;
    }
    &::active {
        color: rgb(127, 143, 164) !important;
        outline: none;
    }
}

.logo {
    width: 180px;
}

.headerRight {
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .navigation {
        min-width: 560px;
        > ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            > li {
                > div {
                    > a {
                        width: 146px;
                       display: flex;
                       align-items: center;
                       justify-content: center;
                       height: 64px;
                       font-size: 16px;
                       color: #00112c;
                       text-align: left;
                       letter-spacing: 0.03em;
                       font-weight: bold;
                       text-decoration: none;
                       cursor: pointer;
                       &:hover {
                           text-decoration: none;
                           background-color: #f9f9f9;
                           border-radius: 4px;
                           color: #1991eb;
                       }
                    }
                }
            }
        }
    }
}
.buttonsHeader {
    display: flex;
    min-width: 230px;
}
.signIn {
    width: 157px;
    height: 45px;  
    font-size: 16px;
    margin-right: 12px;
    margin-left: 60px;
}

.mobileMenu {
    display: none;
}

.link {
    width: 121px;
    height: 18px;
    font-size: 14px;
    font-weight: 600;
    color: #47525e;
    margin-left: 13%;
}

@media screen and (max-width: 1380px) {
    .headerRight {
        .navigation {
            min-width: 485px;
            > ul {
                > li {
                    > div {
                        > a {
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
    .headerLeft {
        width: 5%;
    }
    .logo {
        width: 156px;
    }
}
@media screen and (max-width: 1080px) {
    .headerRight {
        >.navigation, .buttonsHeader {
            display: none;
        }

        .mobileMenu {
            display: block;
            z-index: 8888;
        }
    }

    .headerLeft {
        >img {
            width: 320px;
        }
    }
}

@media screen and (max-width: 560px) {
    .mobileMenu {
        margin-right: 8%;
    }
}

@media screen and (max-width: 350px) {
    .logo {
        width: 165px;
    }
}
