.organization {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > img {
        width: 38px;
        margin: 10px;
    }
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        > h5 {
            margin: 0;
        }
        > span {
            font-size: 12px;
        }
    }
}

.addItem {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 220px;
    }
    > button {
        width: 80px;
        height: 32px;
        margin-bottom: 10px;
    }
}    
.restaurantBlock {
    background: #fff;
    border: 1px solid #dde1e7;
    border-radius: 4px;
    margin-bottom: 10px;
}