.organization {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > img {
        width: 38px;
        margin: 10px;
    }
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        > h5 {
            margin: 0;
        }
        > span {
            font-size: 12px;
        }
    }
}
