.modal {
    display: flex;
    min-height: 100vh;
}
.headerModal {
    >img {
        margin-left: 93%;
        margin-top: 2%;
        width: 3%;
        cursor: pointer;
    }
}

.modalLeft {
    width: 25%;
    min-height: 900px;
    background: #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formGroupSecond {
    display: flex;
    flex-direction: column;
    align-items: center;
    > button {
        width: 376px;
    }
}
.secondTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.trioButtons {
    margin-top: 20px;
    margin-bottom: 20px !important;
    width: 376px;
    justify-content: space-between !important;
    > div {
        width: 100px !important;
        height: 100px !important;
        margin-right: 0 !important; 
        > img {
            width: 50px !important;
        }
        > span {
            font-size: 12px;
        }
    }
}
.errorBlock {
    >img {
        width: 18px;
        position: absolute;
        left: -30px;
        top: 57px;
        opacity: 0;
        transition: all .35s ease-in-out;
    }
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 52px;
    >div {
        >span {
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            font-weight: bold;
            color: #394249;
            margin-left: 8px;
        }
    }
}

.hidePsw {
    top: 62px;
    right: 24px;
    position: absolute;
    cursor: pointer;
    filter: invert(50%);

    &:hover {
        filter: invert(100%);
    }
}
.haveAccount {
    font-size: 16px;
    color: #1991eb;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid #1991eb;
    }
}
.modalRight {
    min-height: 900px;
    width: 75%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(../style/img/back.jpg);
    background-color: rgba(255,255,255,0.93);
    background-blend-mode: lighten;
    >div {
        >div {
            .form {
                display: flex;
                align-items: center;
                .formGroup {
                    >input {
                        border-radius: 4px;
                        border: 1px solid #b1b9c4;
                        outline: none;
                        width: 376px;
                        padding-left: 20px;
                        padding-right: 60px;
                        text-align: left;
                        height: 48px;
                        margin-right: 20px;
                        font-size: 16px;
                        font-family: 'Open Sans', sans-serif;
                        color: #b1b9c4;
                        &:focus {
                            border: 1px solid #1991eb !important;
                            color: #000000;
                        }
                        &:hover {
                            border: 1px solid #8a9399;
                        }
                    }

                    >span {
                        width: 456px;
                        text-align: left;
                        font-size: 14px;
                        font-weight: bold;
                        color: #323538;
                        font-family: 'Open Sans', sans-serif;

                        &:nth-child(1) {
                            margin-top: 24px;
                            margin-bottom: 4px;
                        }
                    }
                }

                >button {
                    height: 48px;
                    width: 176px;
                }
            }
        }
    }
}
.popover {
    width: 220px;
}
.text {
    text-align: center;
    position: absolute;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: -11px;
    margin-left: -88px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #48555e;
    color: #394249;
    background: #fff;
}

.line {
    >div {
        width: 552px;
        height: 1px;
        background: #dededf;
    }
}
.buttons {
    display: flex;
    margin-bottom: 100px;
    
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        padding: 20px;
        width: 238px;
        height: 238px;
        margin-right: 100px;
        background: #E4F2FD;
        box-shadow: -5px 3px 9px 0 rgba(0,0,0,.15);
        position: relative;
        border: 2px solid rgba(0, 0, 0, 0);
        opacity: 0.6;
        > span {
            margin-top: 10px;
        }
        > p {
            margin: 0;
        }
        > img {
            width: 110px;
            margin: 0;
        }
        &:hover {
            cursor: pointer;
            border: 2px solid #9e9e9e;
            opacity: 1;
        }
    }
  }
.check {
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
}
.errorBlock {
   display: flex;
   align-items: flex-start;
}
.errors {
    font-size: 12px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    display: none;
}

.closeModal {
    width: 52px;
    right: 88px;
    position: absolute;
    justify-content: center;
    height: 52px;
    flex-direction: column;
    display: flex;
    cursor: pointer;
    bottom: 90%;
    border-radius: 50%;
    background: rgba(160, 171, 186, 0.822);
    transition: all 0.4s ease-in-out;
    &:hover {
     background: #5EC4DD;
    }
    > img {
        filter: contrast(400%);
        margin: 0;
    }
    >span {
        font-size: 8px;
        color: #fff;
        font-weight: bold;
    }
}
.title {
    font-size: 20px;
    font-weight: 700;
}
.secondForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flexInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > span {
        width: 376px !important;
    }
    > input {
        margin: 0 !important;
    }
}
@media screen and (max-width: 1500px) {
    .imgIntegrations {
        >img {
            &:first-child {
                top: -110px !important;
            }
        }
    }
    .list {
        >div {
            >span {
                font-size: 10px;
            }
        }
    }
  } 

